body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  width: 100% !important;
}

.navbar .walrus-logo {
  width: 25px;
  margin-right: 15px;
}

.App > .container {
  padding-top: 25px;
}

.campaign-edit .row {
  margin-bottom: 15px;
}